{% extends 'layouts/base.html' %}

{% block content %} 
    <h1>Morgan Garcia - Fotografo</h1>
    <div class="about">
        <img src="https://picsum.photos/200/200" alt="">
        <div class="about-content">
            <h3>lorem insut dolor calvan </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias aut animi fugiat porro adipisci nihil aliquid nisi ex maxime quaerat molestias beatae debitis similique autem modi minus, facilis possimus iure?</p>
        </div>
    </div>
{% endblock %}